* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

h1,
h2,
h3,
h4 {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
  color: #ffffff;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("./robert-shunev-mS1nlYbq1kA-unsplash.jpg") no-repeat center
    center/cover;
}

.showcase-top {
  position: relative;
  z-index: 2;
  height: 90px;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 0;
}

.showcase-top a {
  position: absolute;
  top: 33rem;
  right: 25.5rem;
  transform: translate(-50%, -50%);
}

.content {
  background: #171717;
  line-height: 1.2;
  padding-bottom: 5px;
  padding: 80px 85px 20px 85px;
  margin-top: 20vh;
}

.content .ultimo-cta {
  text-align: center;
  font-size: 1.8rem;
}

.content .ultimo-cta .text-h2 {
  padding: 0 7%;
  margin: 0 auto;
  max-width: 1600px;
  font-weight: bold;
}

.row {
  padding: 0 7%;
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
}

.row .column .text-h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.mini-text {
  margin-top: 5vh;
  font-size: 14px;
}

.pink {
  color: #dd0049;
}

.column {
  flex: 50%;
  padding: 10px;
  margin-top: 10vh;
}

.column .img-column {
}

.column .img-column img {
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
.onm-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #ffffff;
  font-size: 14px;
}

.onm-li img {
  padding-right: 1.5rem;
  margin-right: 1.6rem;
}

.col-3-6 {
  justify-content: space-between;
}

.btn {
  display: block;
  background: #e7004c 0% 0% no-repeat padding-box;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-width: 2px;
  border-color: #e74c80;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 0px 3px 63px #e7004cc7;
  -webkit-box-shadow: 0px 3px 63px #e7004cc7;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 30px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 18px;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
}
